/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 oct. 2017, 22:40:15
    Author     : veronne
*/
#container
{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin : auto;
    width: 400px;
    height: 500px;
    background-color: #5C5869;
    margin-top: 100px;
}

#screen
{
    width: 370px;
    height: 70px;
    background-color: #B7E98E;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    text-align: right;
    font-size: 50px;
}

#keyboard
{   
    width: 380px;
    height: 250px;
    margin: 10px 10px 10px 10px;
}

.row
{
    display: flex;
    flex-direction: row;
}



button
{
    width: 90px;
    margin: 3px;
    height: 90px;
    border-radius: 10px;
    color: white;
    font-size: 35px;
}

.number
{
    background-color: #413F4B;
    border-color: #413F4B;
}

button:not(.number)
{
    background-color: #BCBCC7;
    border-color: #BCBCC7;
}
