/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 oct. 2017, 22:40:15
    Author     : veronne
*/

#conteneur
{
    display: flex;
    flex-direction: column;
}

.row
{
    display: flex;
    flex-direction: row;
}

label
{
    background-color: green;
}
